@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

body {
  margin: 0;
}

.card {
  min-height: 100vh;
  position: relative;
}

.card__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.card::after {
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__content {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

@media (min-width: 500px) {
  .card__background {
    position: static;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid white;
  }
  .card__content {
    position: static;
  }
  .card::after {
    display: none;
  }
  .card {
    padding: 20px 0;
    background: #000000;
    text-align: center;
  }
}

.colorUpdate {
  font-size: 1em;
  font-style: italic;
  color: #f1f72f;
  box-shadow:0 0 10px #ffffff;
}

.card__title {
  max-width: 600px;
  border-radius: 200px;
}
